@tailwind base;
@tailwind components;
@tailwind utilities;

*, html, body {
  font-family: 'Manrope', sans-serif;
}

@layer base {
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/manrope/v15/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FN_P-bnBeA.woff2') format('woff2');
  }
  @font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
  }
}
